@model List<EduConnect_Front.Dtos.ObtenerChatDto>

<div class="popup-chat-header">CHATS</div>
<div class="popup-chat-list">
    @if (!Model.Any())
    {
        <div class="popup-chat-item">No tienes chats disponibles.</div>
    }
    else
    {
        @foreach (var chat in Model)
        {
            <div class="popup-chat-item" data-chat-id="@chat.IdChat"
                 data-nombre="@chat.NombreReceptor"
                 data-materia="@chat.NombreMateria">
                
                <img src="~/img/chat.png" alt="Chat Icon" />
                <div class="popup-chat-item-info">
                    <span class="popup-chat-item-nombre">@chat.NombreReceptor</span>
                    <span class="popup-chat-item-materia">@chat.NombreMateria</span>
                </div>
            </div>
        }
    }
</div>
